<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <meta
      name="description"
      content="How did we get here? This website only has a root page."
    />
    <title>404 not found</title>
    {% include "style.hbs" %}
  </head>

  <body>
    <div class="stack">
      <div>404 not found</div>
      <a href="/" class="home">Go home?</a>
    </div>
  </body>
</html>
