<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="/main.css?cb={{ "/main.css"|bust_dir(cb) }}" />
    <title>404 not found</title>
  </head>

  <body>
    <div class="stack">
      <div>404 not found</div>
      <a href="/" class="home">Go home?</a>
    </div>
  </body>
</html>
