* {
  max-width: 100%;
}

html,
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stack {
  display: inline;
  font-size: 2vw;
  font-family: Arial, Verdana, Helvetica, sans-serif;
}
